@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
}

.nav-list-item {
    @apply text-stone-800 text-lg font-semibold transition-colors duration-200 hover:text-stone-400
}

.nav-list-icon {
    @apply w-6 text-slate-100
}

.bottom-list-icon {
    @apply w-6 text-slate-100
}

.guide-container {
    @apply grid grid-cols-3 items-center rounded-full shadow-nav-login-hover shadow-slate-700 overflow-hidden m-5;
    background-image: linear-gradient(45deg, #23515E , #BE838B);
}

.guide-img-container {
    @apply w-24 sm:w-44 h-24 sm:h-44
}

.guide-img {
    @apply w-full h-full object-cover rounded-full
}

.auth-form-elem {
    @apply p-1.5 sm:p-3 w-full lg:w-3/4 m-auto rounded font-bold
}

.auth-link {
    /* @apply w-full text-center text-xs sm:text-base bg-slate-600 p-2 rounded-full font-bold hover:bg-slate-200 hover:text-slate-600 transition-colors duration-200 */
    @apply w-full text-center text-xs sm:text-base p-2 rounded-full font-bold hover:text-slate-600 transition-all duration-200
}

.auth-btn {
    @apply bg-slate-700 text-xl auth-form-elem hover:bg-slate-800 transition-colors duration-200
}

.photo-action {
    @apply flex items-center gap-1 font-bold py-1.5 px-3 rounded-lg cursor-pointer
}

.photo-size {
    @apply bg-slate-600 hover:bg-slate-700 transition-colors duration-200 p-2 text-sm
}

.logged-user-opt {
    @apply hover:text-gray-500 font-bold transition-all duration-500 text-xs sm:text-base
}

.form-field-empty-warn {
    @apply animate-auth-field-shake border-2 border-red-500
}

@media screen and (max-width: 768px) {
    /* .form-section {
        background-image: linear-gradient(to left, green, blue);
    } */
}

@media screen and (max-width: 640px) {
    .user-bio {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .guide-container {
        @apply grid-cols-1 place-items-center rounded-xl
    }

    .guide-img-container {
        @apply w-full h-40
    }
    
    .guide-img {
        @apply rounded-none
    }

    .follow-text {
        font-size: .8rem;
    }

    .user-bio {
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    .user-bio {
        width: 225px;
    }
}