{% extends 'base.html' %} {% block title %}{{title}}{% endblock title %} {%
block style %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/pass_change.css')}}"
/>
{% endblock style %} {% block content %}
<div class="container">
  <h1>Reset Password</h1>
  <input type="password" id="password" placeholder="New Password" />
  <input type="password" id="confirmPassword" placeholder="Confirm Password" />
  <p class="error-message" id="errorMessage">Passwords do not match</p>
  <button onclick="validatePasswords()">Reset</button>
</div>

<script>
  const passFields = document.querySelectorAll(`input[type="password"]`);
  const errorMessage = document.querySelector("#errorMessage");

  const token = "{{token}}";

  passFields.forEach((elem) => {
    elem.addEventListener("animationend", (e) => {
      e.preventDefault();
      e.target.classList.remove("error-animation");
    });
  });

  async function validatePasswords() {
    let password = document.getElementById("password").value;
    let confirmPassword = document.getElementById("confirmPassword").value;
    let errorMessage = document.getElementById("errorMessage");

    passFields.forEach((elem) => {
      elem.classList.remove("error-animation");
    });

    if (password !== confirmPassword) {
      errorMessage.style.display = "block";
      passFields.forEach((elem) => {
        elem.classList.add("error-animation");
      });
    } else {
      errorMessage.style.display = "none";
      passFields.forEach((elem) => {
        elem.classList.remove("error-animation");
      });

      // Reset password logic here
      const resp = await fetch(
        `http://localhost:5000/api/auth/change_pass?token=${token}`,
        {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ new_password: password }),
        }
      );
      const data = await resp.json();
      console.log(data);
      errorMessage.innerHTML = data.message;
      console.log(errorMessage);
      errorMessage.style.display = "block";
      if (data.success) {
        errorMessage.style.color = "#003b00";
      } else {
        errorMessage.style.color = "#dc3545";
      }
    }
  }
</script>
{% endblock content %}
