* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 66, 66);
}

.message {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 7px 15px;
  /* background-color: #ff897b; */
  background-color: #00bb3e;
  margin-top: 10px;
  border-radius: 100px;
}

.msg-cross {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.username-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  gap: 20px;
}

.form-elem {
  padding: 7px 15px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.heading {
  text-align: center;
}

.leaving-note {
  font-size: 9px;
  text-align: center;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  margin: auto;
  border: 2px dashed whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
}

.profile-image-dismiss {
  position: absolute;
  top: -10px;
  right: -10px;
}

.profile-image {
  width: 100%;
  width: 100%;
  object-fit: contain;
}

.name-input {
  padding-left: 26px;
  color: rgb(66, 66, 66);
  background: whitesmoke url("../images/at.png") no-repeat center left 4px /
    20px;
}

.btn {
  background-color: dodgerblue;
}

@media screen and (max-width: 800px) {
  .username-form {
    width: 60%;
  }
}

@media screen and (max-width: 728px) {
  .heading {
    font-size: 1.5rem;
  }

  .username-form {
    width: 90%;
  }

  .message {
    width: 95%;
    font-size: 0.8rem;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 450px) {
  .message {
    font-size: 0.7rem;
    padding: 3px 7px;
  }
}